{% extends "base.html" %}

{% block page_content %}

<div class="col-md-8 offset-md-2">

    <h1>{{ location | title }}</h1>

    <hr>

    {% for post in posts %}

        <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>

        <small>

            {{ book.created_on.date }} |&nbsp;

            Locations:&nbsp;

            {% for location in book.locations.all %}

            <a href="{% url 'blog_category' category.name %}">

                {{ location.name }}

            </a>&nbsp;

            {% endfor %}

        </small>

        <p>{{ book.body | slice:":400" }}...</p>

    {% endfor %}

</div>

{% endblock %}

